@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Black.ttf');
    font-weight: 900;
}